<nav class="navbar">
    <div class="nav-brand">
        <h1 class="font-fantasy">
            <a href="#home">{{ 'navbar.title' | translate }}</a>
        </h1>
        <div></div>
        <ul class="small font-roman">
            <li><a href="#places">{{ 'navbar.places' | translate }}</a></li>
            <li><a href="#food">{{ 'navbar.discover' | translate }}</a></li>
            <li><a href="#map">{{ 'navbar.sites' | translate }}</a></li>
        </ul>
    </div>
    <div>
        <ul class="font-roman">
            <li><a (click)="changeLanguage('es')">ESP</a></li>
            <li><a (click)="changeLanguage('en')">ENG</a></li>

        </ul>
    </div>
</nav>