<nav class="navbar">
    <div class="nav-brand">
        <h1 class="font-fantasy">
            <a href="#home">TARIJA</a>
        </h1>
        <div></div>
        <ul class="small font-roman">
            <li><a href="#places">LUGARES</a></li>
            <li><a href="#food">DESCUBRIR</a></li>
            <li><a href="#map">SITIOS</a></li>
        </ul>
    </div>
    <div>
        <ul class="font-roman">
            <li><a href="locale/es">ESP</a></li>
            <li><a href="locale/en">ENG</a></li>
        </ul>
    </div>
</nav>