<div id="places" class="places">
    <h1 class="my-2 font-fantasy">
        {{ 'places.title' | translate }}
    </h1>
    <div class="places-inner">
        <div *ngFor="let place of places | async">
            <app-place [place]="place"></app-place>
        </div>
    </div>
</div>



<!-- Modal
@foreach ($places as $place)

<div class="modal fade bd-example-modal-lg" id="exampleModal{{$loop->index+1}}" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">{{$place->title}}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-5"> <img src="{{$place->img_url}}" alt="Snow" style="width:100%;"></div>
                        <div class="col-md-7 ml-auto">{{$place->text}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@endforeach -->