
@include mediaXs {
    .navbar {
        ul {
            flex-direction: column;
            li {
                margin: 0.5rem 0rem;
            }
        }
        .small {
            font-size: 0.9rem;
            line-height: 0.9;
        }
    }
    
    .landing{

        p {
            background: rgb(0, 0, 0, 0.4);
            border-radius: 21px 21px 21px 21px;
            -moz-border-radius: 21px 21px 21px 21px;
            -webkit-border-radius: 21px 21px 21px 21px;
        }
    }

    .places {
        flex-direction: column;
        height: 80rem;
        min-height: 800px;

        h1 {
            font-size: 1.8rem;
        }
        &-inner {
            flex-direction: column;

            .card {
                max-width: 220px;

                img {
                    height: 220px;
                }
            }
        }
    }

    .food {
        flex-direction: column;
        height: 85rem;
        align-items: center;
        // min-height: 800px;

        padding: 2rem 1rem;

        &-inner {
            flex-direction: column;
            padding: 2rem 2rem;
        }
    }

    .map {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        iframe {
            width: 100%;
            height: 50vh;
        }

        .btn-group {
            flex-direction: column;
            .btn {
                width: 100%;
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }
    
}

@include mediaSm {
    .navbar {
        ul {
            flex-direction: column;
            li {
                margin: 0.5rem 0rem;
            }
        }
        .small {
            font-size: 0.9rem;
            line-height: 0.9;
        }
    }

    .landing {
        &-inner {
            p {
                background: rgb(0, 0, 0, 0.4);
                border-radius: 21px 21px 21px 21px;
                -moz-border-radius: 21px 21px 21px 21px;
                -webkit-border-radius: 21px 21px 21px 21px;
            }
            .large {
                font-size: 2rem;
                line-height: 1.2;
                margin-bottom: 1rem;
            }

            .lead {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .places {
        flex-direction: column;
        height: 80rem;
       // min-height: 800px;

        &-inner {
            flex-direction: column;

            .card {
                max-width: 220px;

                img {
                    height: 220px;
                }
            }
        }
    }

    .food {
        flex-direction: column;
        height: 80rem;
        align-items: center;

        padding: 2rem 1rem;

        &-inner {
            flex-direction: column;
            padding: 2rem 2rem;
        }
    }
    .special {
        height: 90vh;

        .flex-promo {
            padding: 1.75em;
            //max-width: 240px;
            margin: auto;
        }
    }
    .map {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        iframe {
            width: 100%;
            height: 50vh;
        }

        .btn-group {
            flex-direction: column;
            .btn {
                width: 100%;
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }

    
}

// Tablets & Small Laptops
@include mediaMd {
    .navbar {
        a {
            margin: 0;
        }
        .small {
            font-size: 0.8rem;
            line-height: 0.9;
        }
        ul {
            flex-direction: row;
        }
    }

    .landing {
        &-inner {
           
            .large {
                font-size: 2.5rem;
                line-height: 1.2;
                margin-bottom: 1rem;
            }

            .lead {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .places {
        height: 50rem;

        &-inner {
            flex-direction: row;
            flex-wrap: wrap;
            .card {
                max-width: 180px;

                img {
                    height: 180px;
                }
            }
        }
    }

    .food {
        padding: 2rem 1rem;

        &-inner {
            padding: 2rem 2rem;
        }
    }

    .map {
        .content {
            width: 70%;
        }
        .btn {
            font-size: 0.8rem;
        }
        .btn-group {
            flex-direction: row;
        }
    }
}

// Desktops & Laptops
@include mediaLg {
    .navbar {
        a {
            margin: 0;
        }
        .small {
            font-size: 0.8rem;
            line-height: 0.9;
        }
    }

    .landing {
        &-inner {
            
            .large {
                font-size: 2.5rem;
                line-height: 1.2;
                margin-bottom: 1rem;
            }

            .lead {
                font-size: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .places {
        height: 40rem;
        &-inner{
            flex-wrap: nowrap;
        }
       
    }
    
    .food {
        padding: 2rem 1rem;
        height: 40rem;
        &-inner {
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
            padding: 2rem 2rem;
        }
    }
}

