@import "../../../scss/variables";
@import "../../../scss/config";
@import "../../../scss/utilities";

.row{
    display: flex;
    //justify-content: space-between;
    
}
.image-left {
    width: 40%;
    img {
        object-fit: cover;
        max-height: 70vh;
    }
}
.text{
    width: 60%;
    margin: 0 5px;
}
.modal{
    width: 100%;
    max-height: 80vh;
    
}

@media screen and (max-width: 960px) {
    .container{
        padding: 0;
        margin-top: 0.5rem;
    }
    .mat-dialog-content {
        padding: 0;
    }
    
    .row {
        flex-direction: column;
    }
    .image-left {
        width: 100%;
        img{
            object-fit: cover;
            height: 50vh;
        }
    }

    .text{
        width: 100%;
        margin: 0.5rem 0;
    }
}

@import "../../../scss/mobile";
